<p>Information marked with (REQUIRED) are required.</p>

<%= form_with(model: hall, local: true, :html => { :class => 'form-horizontal' }) do |form| %>
  <% if hall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hall.errors.count, "error") %> prohibited this hall from being saved:</h2>

      <ul>
        <% hall.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %> (REQUIRED)
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :open_from_working_days %> (REQUIRED)<br>
    <%= form.time_select :open_from_working_days, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :open_to_working_days %> (REQUIRED)<br>
    <%= form.time_select :open_to_working_days %>
  </div>

  <div class="form-group">
    <%= form.label :open_from_weekends %> (REQUIRED)<br>
    <%= form.time_select :open_from_weekends %>
  </div>

  <div class="form-group">
    <%= form.label :open_to_weekends %> (REQUIRED)<br>
    <%= form.time_select :open_to_weekends %>
  </div>

  <div class="form-group">
    <%= form.label :default_price_for_reservation %> (REQUIRED)
    <%= form.number_field :default_price_for_reservation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sport %>
    <%= form.select(:sport, [['Tennis', 'Tennis'], ['Volleyball', 'Volleyball'], ['Squash', 'Squash'], ['Badminton', 'Badminton'], ['Ping pong', 'Ping pong'], ['Climbing', 'Climbing'], ['Basketball', 'Basketball'], ['Football', 'Football'], ['Multipurpose', 'Multipurpose']], {}, { class: "form-control" }) %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group ml-auto text-right" style="margin-right: 1.5 em;">
    <%= form.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
