<p>Information marked with (REQUIRED) are required.</p>

<%= form_for :reservation, :html => { :class => "form-horizontal" }, url: {action: 'reservations'} do |form| %>
    <% if reservation.errors.any? %>
      <div id="error_explanation" class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title"><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
        </div>
        <div class="panel-body">
          <ul>
            <% reservation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :date %> (REQUIRED)<br>
      <%= form.date_select :date %>
    </div>
  
    <div class="form-group">
      <%= form.label :from %> (REQUIRED)<br>
      <%= form.time_select :from %>
    </div>
  
    <div class="form-group">
      <%= form.label :to %> (REQUIRED)<br>
      <%= form.time_select :to %>
    </div>

    <% if @hall.sport == 'Multipurpose'%>
      <div class="form-group">
        <%= form.label :sport %>
        <%= form.text_field :sport %>
      </div>
    <% end %>
  
    <div class="form-group ml-auto text-right" style="margin-right: 1.5 em;">
      <%= form.submit nil, :class => 'btn btn-primary' %>
    </div>
  <% end %>
  