<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Halls', halls_path %>
  </li>
  <li class="breadcrumb-item">Editing hall</li>
</ul>

<h1>Editing Hall</h1>

<%= render 'form', hall: @hall %>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Show', @hall, :class => 'btn btn-xs btn-default' %> |
  <%= link_to 'Back', halls_path, :class => 'btn btn-xs btn-warning' %>
</div>
