<%- model_class = Hall -%>
<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">Halls</li>
</ul>

<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>Opening hours on working days</th>
      <th>Opening hours in weekends</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @halls.each do |hall| %>
      <tr>
        <td><%= link_to hall.id, hall_path(hall) %></td>
        <td><%= hall.title %></td>
        <td><%= format_time(hall.open_from_working_days) %> - <%= format_time(hall.open_to_working_days) %></td>
        <td><%= format_time(hall.open_from_weekends) %> - <%= format_time(hall.open_to_weekends) %></td>
        <td><%= hall.description %></td>
        <td>
          <%= link_to t('.show', :default => t('helpers.links.show')),
                      hall_path(hall), :class => 'btn btn-info btn-xs' %>
          <% if can? :edit,  hall %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hall_path(hall), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :destroy, hall %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hall_path(hall),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Hall.new %>
  <div class="ml-auto mr-4 text-right">
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_hall_path,
            :class => 'btn btn-primary' %>
  </div>
<% end %>
