<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Halls', halls_path %>
  </li>
  <li class="breadcrumb-item">New hall</li>
</ul>

<h1>New Hall</h1>

<%= render 'form', hall: @hall %>

<div class="ml-auto text-right mr-4">
  <%= link_to 'Back', halls_path %>
</div>