<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Halls', halls_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to "#{@hall.title}", "/halls/#{@hall.id}" %>
  </li>
  <li class="breadcrumb-item">New reservation</li>
</ul>

<h1>New Reservation</h1>

<%= render 'form2', reservation: @reservation %>

<div class="ml-auto text-right" style="margin-right: 1.5 em;">
  <%= link_to t('.back', :default => t("helpers.links.back")),
  "/halls/#{@hall.id}", :class => 'btn btn-xs btn-default' %>
</div>