<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Halls', halls_path %>
  </li>
  <li class="breadcrumb-item"><%= @hall.title %></li>
</ul>
<p id="notice"><%= notice %></p>

<h1><%=t '.title', :default => @hall.title %></h1>


<p>
  <strong>Opening hours in working days:</strong>
  <%= format_time(@hall.open_from_working_days) %> - <%= format_time(@hall.open_to_working_days) %>
</p>

<p>
  <strong>Opening hours in weekends:</strong>
  <%= format_time(@hall.open_from_weekends) %> - <%= format_time(@hall.open_to_weekends) %>
</p>

<p>
  <%= @hall.description %>
</p>

<table class="table table-striped">
  <thead>
      <tr>
        <th>Day</th>
        <th>Time range</th>
        <% if can? :view_user_of_reservation, Reservation.new %>
          <th>Visitor</th>
        <% end %>
      </tr>
  </thead>
  <tbody>
  <% @hall.all_reservations.each do |reservation| %>
    <tr>
      <td><%= date_to_s(reservation.date) %></td>
      <td><%= format_time(reservation.from) %> - <%= format_time(reservation.to) %></td>
      <% if can? :view_user_of_reservation, reservation %>
          <td><%= email_of_user(reservation.user_id) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="ml-auto text-right mr-4">
  <% if can? :edit, @hall %>
    <%= link_to t('Edit', :default => t("helpers.links.edit")),
            edit_hall_path(@hall),
            :class => 'btn btn-xs btn-default' %> |
  <% end %>
<%= link_to t('Make reservation', :default => t("helpers.links.make_reservation")),
            "/halls/#{@hall.id}/reservations",
            :class => 'btn btn-xs btn-primary' %> |
<%= link_to t('Back', :default => t("helpers.links.back")),
            halls_path,
            :class => 'btn btn-xs btn-warning' %>
</div>
