<p>All information are required.</p>

<%= form_with(model: price_for_reservation, local: true, :html => {:class => 'form-horizontal'}) do |form| %>
  <% if price_for_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_for_reservation.errors.count, "error") %> prohibited this price_for_reservation from being saved:</h2>

      <ul>
        <% price_for_reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :hall_id %>
    <%= form.select(:hall_id, @hall_array, {}, {class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :time_range_id %>
    <%= form.select(:time_range_id, @time_range_array, {}, {class: 'form-control'}) %>
  </div>

  <div class="form-group ml-auto text-right">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
