<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item">
        <%= link_to 'Price specifications', price_for_reservations_path %>
    </li>
    <li class="breadcrumb-item">Editing Price specification</li>
</ul>

<h1>Editing Price specification</h1>

<%= render 'form', price_for_reservation: @price_for_reservation %>

<div class="ml-auto mr-4 text-right">
    <%= link_to 'Show', @price_for_reservation, :class => 'btn btn-xs btn-default' %> |
    <%= link_to 'Back', price_for_reservations_path, :class => 'btn btn-xs btn-warning' %>
</div>
