<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">Price specifications</li>
</ul>

<p id="notice"><%= notice %></p>

<h1>Price specifications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Price</th>
      <th>Hall</th>
      <th>Time Range</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @price_for_reservations.each do |price_for_reservation| %>
      <tr>
        <td><%= price_for_reservation.price %></td>
        <td><%= link_to title_of_hall(price_for_reservation.hall_id), Hall.find(price_for_reservation.hall_id) %></td>
        <td><%= time_range_string(price_for_reservation.time_range_id) %></td>
        <td><%= link_to 'Show', price_for_reservation, :class => 'btn btn-xs btn-info' %>
        <%= link_to 'Edit', edit_price_for_reservation_path(price_for_reservation), :class => 'btn btn-xs btn-default' %>
        <%= link_to 'Destroy', price_for_reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'New Price For Reservation', new_price_for_reservation_path, :class => 'btn btn-primary' %>
</div>