<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Price specifications', price_for_reservations_path %>
  </li>
  <li class="breadcrumb-item">Price specification detail</li>
</ul>

<p id="notice"><%= notice %></p>

<h1>Price specification detail</h1>

<p>
  <strong>Price:</strong>
  <%= @price_for_reservation.price %>
</p>

<p>
  <strong>Hall:</strong>
  <%= link_to title_of_hall(@price_for_reservation.hall_id), Hall.find(@price_for_reservation.hall_id) %>
</p>

<p>
  <strong>Time range:</strong>
  <%= time_range_string(@price_for_reservation.time_range_id) %>
</p>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Edit', edit_price_for_reservation_path(@price_for_reservation), :class => 'btn btn-xs btn-default' %> |
  <%= link_to 'Back', price_for_reservations_path, :class => 'btn btn-xs btn-warning' %>
</div>
