<p>All information are required.</p>

<%= form_with(model: price_advantage, local: true, :html => { :class => 'form-horizontal' }) do |form| %>
  <% if price_advantage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_advantage.errors.count, "error") %> prohibited this price_advantage from being saved:</h2>

      <ul>
        <% price_advantage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :order %>
    <%= form.text_field :order, class: 'form-control' %>
  </div>

  <div class="form-group ml-auto text-right" style="margin-right: 1.5em;">
    <%= form.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
