<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Price advantages', price_advantages_path %>
  </li>
  <li class="breadcrumb-item">Editing Price Advantage</li>
</ul>

<h1>Editing Price Advantage</h1>

<%= render 'form', price_advantage: @price_advantage %>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Show', @price_advantage, :class => 'btn btn-xs btn-info' %> |
  <%= link_to 'Back', price_advantages_path, :class => 'btn btn-xs btn-warning' %>
</div>
