<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">Price advantages</li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Price Advantages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Order</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @price_advantages.each do |price_advantage| %>
      <tr>
        <td><%= price_advantage.title %></td>
        <td><%= price_advantage.order %></td>
        <td>
          <%= link_to 'Show', price_advantage, :class => 'btn btn-xs btn-info' %>
          <%= link_to 'Edit', edit_price_advantage_path(price_advantage), :class => 'btn btn-xs btn-default' %>
          <%= link_to 'Destroy', price_advantage, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'New Price Advantage', new_price_advantage_path, :class => 'btn btn-primary' %>
</div>
