<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Price advantages', price_advantages_path %>
  </li>
  <li class="breadcrumb-item">Price advantage detail</li>
</ul>

<p id="notice"><%= notice %></p>
<h1>Price advantage detail</h1>

<p>
  <strong>Title:</strong>
  <%= @price_advantage.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @price_advantage.order %>
</p>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Edit', edit_price_advantage_path(@price_advantage), :class => 'btn btn-xs btn-default' %> |
  <%= link_to 'Back', price_advantages_path, :class => 'btn btn-xs btn-warning' %>
</div>
