<p>All information are required.</p>

<%= form_with(model: reservation, local: true, :html => {:class => 'form-horizontal'}) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="form-group">
    <%= form.label :from %>
    <%= form.time_select :from %>
  </div>

  <div class="form-group">
    <%= form.label :to %>
    <%= form.time_select :to %>
  </div>

  <% if can? :manage, reservation %>
    <div class="form-group">
      <%= form.label :user_id %>
      <%= form.select(:user_id, @user_array, {}, {class: 'form-control'}) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :hall_id %>
    <%= form.select(:hall_id, @hall_array, {}, {class: 'form-control'}) %>
  </div>

  <div class="form-group ml-auto text-right" style="margin-right: 1.5em">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
