<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Reservations', reservations_path %>
  </li>
  <li class="breadcrumb-item">Editing Reservation</li>
</ul>

<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Show', @reservation, class: 'btn btn-xs btn-info' %> |
  <% if can? :manage, @reservation %>
      <%= link_to 'Back', reservations_path, class: 'btn btn-xs btn-warning' %>
  <% else %>
      <%= link_to 'Back', '/my_reservations', class: 'btn btn-xs btn-warning' %>
  <% end %>
</div>