<%- model_class = Reservation -%>
<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">Reservations</li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time range</th>
      <th>User</th>
      <th>Hall</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= format_time(reservation.from) %> - <%= format_time(reservation.to) %></td>
        <td><%= email_of_user(reservation.user_id) %></td>
        <td><%= link_to title_of_hall(reservation.hall_id), Hall.find(reservation.hall_id) %></td>
        <td><%= reservation.price %></td>
        <td>
          <%= link_to t('.show', :default => t('helpers.links.show')),
                      reservation_path(reservation), :class => 'btn btn-info btn-xs' %>
          <% if can? :edit, reservation %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_reservation_path(reservation), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :destroy, reservation %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reservation_path(reservation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ml-auto mr-4 text-right">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_reservation_path,
            :class => 'btn btn-primary' %>
</div>