<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Reservations', reservations_path %>
  </li>
  <li class="breadcrumb-item">New Reservation</li>
</ul>


<h1>New Reservation</h1>

<%= render 'form', reservation: @reservation %>

<div class="ml-auto mr-4 text-right">
  <% if can? :manage, @reservation %>
    <%= link_to 'Back', reservations_path %>
  <% else %>
    <%= link_to 'Back', '/my_reservations' %>
  <% end %>
</div>