<ul class="breadcrumb my-0">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Reservations', reservations_path %>
  </li>
  <li class="breadcrumb-item">Reservation Detail</li>
</ul>

<h1>Reservation Detail</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Time range:</strong>
  <%= format_time(@reservation.from) %> - <%= format_time(@reservation.to) %>
</p>

<p>
  <strong>User:</strong>
  <%= email_of_user(@reservation.user_id) %>
</p>

<p>
  <strong>Hall:</strong>
  <%= link_to title_of_hall(@reservation.hall_id), Hall.find(@reservation.hall_id) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @reservation.price %>
</p>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Edit', edit_reservation_path(@reservation), :class => 'btn btn-xs btn-default' %> |
  <% if can? :manage, @reservation %>
    <%= link_to 'Back', reservations_path, :class => 'btn btn-xs btn-warning' %>
  <% else %>
    <%= link_to 'Back', '/my_reservations', :class => 'btn btn-xs btn-warning' %>
  <% end %>
</div>
