<p>All information are required.</p>

<%= form_with(model: price_for_advantage, local: true, :html => {:class => 'form-horizontal'}) do |form| %>
  <% if price_for_advantage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_for_advantage.errors.count, "error") %> prohibited this price_for_advantage from being saved:</h2>

      <ul>
        <% price_for_advantage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :discount %>
    <%= form.text_field :discount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price_advantage_id %>
    <%= form.select(:price_advantage_id, @price_advantage_array, {}, {class: 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :price_for_reservation_id %>
    <%= form.select(:price_for_reservation_id, @price_for_reservation_array, {}, {class: 'form-control'})%>
  </div>

  <div class="form-group ml-auto text-right" style="margin-right: 1.5em">
      <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
