<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">Discounts for price specifications</li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Discounts for price specifications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Discount</th>
      <th>Price advantage</th>
      <th>Price specification</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @price_for_advantages.each do |price_for_advantage| %>
      <tr>
        <td><%= price_for_advantage.discount %> %</td>
        <td><%= title_of_price_advantage(price_for_advantage.price_advantage_id) %></td>
        <td><%= info_of_price_for_reservation(price_for_advantage.price_for_reservation_id) %></td>
        <td><%= link_to 'Show', price_for_advantage, :class => 'btn btn-xs btn-info' %>
        <%= link_to 'Edit', edit_price_for_advantage_path(price_for_advantage), :class => 'btn btn-xs btn-default' %>
        <%= link_to 'Destroy', price_for_advantage, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'New Price For Advantage', new_price_for_advantage_path, :class => 'btn btn-primary' %>
</div>