<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item">
        <%= link_to 'Discounts for price specifications', price_for_advantages_path %>
    </li>
    <li class="breadcrumb-item">New Price For Advantage</li>
</ul>

<h1>New Price For Advantage</h1>

<%= render 'form', price_for_advantage: @price_for_advantage %>

<div class="ml-auto mr-4 text-right">
    <%= link_to 'Back', price_for_advantages_path, :class => 'btn btn-xs btn-warning' %>
</div>
