<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'Discounts for price specifications', price_for_advantages_path %>
  </li>
  <li class="breadcrumb-item">Discount for price specification</li>
</ul>

<h1>Discount for price specification</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Discount:</strong>
  <%= @price_for_advantage.discount %>
</p>

<p>
  <strong>Price advantage:</strong>
  <%= title_of_price_advantage(@price_for_advantage.price_advantage_id) %>
</p>

<p>
  <strong>Price specification:</strong>
  <%= info_of_price_for_reservation(@price_for_advantage.price_for_reservation_id) %>
</p>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Edit', edit_price_for_advantage_path(@price_for_advantage), :class => 'btn btn-xs btn-default' %> |
  <%= link_to 'Back', price_for_advantages_path, :class => 'btn btn-xs btn-warning' %>
</div>
