<p>All information are required.</p>

<%= form_with(model: time_range, local: true, :html => {:class => 'form-horizontal'}) do |form| %>
  <% if time_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_range.errors.count, "error") %> prohibited this time_range from being saved:</h2>

      <ul>
        <% time_range.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :from %>
    <%= form.time_select :from %>
  </div>

  <div class="form-group">
    <%= form.label :to %>
    <%= form.time_select :to %>
  </div>

  <div class="form-group ml-auto text-right" style="margin-right: 1.5 em">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
