<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item">
        <%= link_to 'Time ranges', time_ranges_path %>
    </li>
    <li class="breadcrumb-item">Editing Time Range</li>
</ul>

<h1>Editing Time Range</h1>

<%= render 'form', time_range: @time_range %>

<div class="ml-auto mr-4 text-right">
    <%= link_to 'Show', @time_range, :class => 'btn btn-xs btn-info' %> |
    <%= link_to 'Back', time_ranges_path, :class => 'btn btn-xs btn-warning' %>
</div>
