<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">Time ranges</li>
</ul>

<p id="notice"><%= notice %></p>

<h1>Time Ranges</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time range</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @time_ranges.each do |time_range| %>
      <tr>
        <td><%= format_time(time_range.from) %> - 
        <%= format_time(time_range.to) %></td>
        <td><%= link_to 'Show', time_range, :class => 'btn btn-xs btn-info' %>
        <%= link_to 'Edit', edit_time_range_path(time_range), :class => 'btn btn-xs btn-default' %>
        <%= link_to 'Destroy', time_range, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'New Time Range', new_time_range_path, :class => 'btn btn-primary' %>
</div>
