<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= format_time(@time_range.from) %>
</p>

<p>
  <strong>To:</strong>
  <%= format_time(@time_range.to) %>
</p>

<div class="ml-auto mr-4 text-right">
  <%= link_to 'Edit', edit_time_range_path(@time_range), :class => 'btn btn-xs btn-default' %> |
  <%= link_to 'Back', time_ranges_path, :class => 'btn btn-xs btn-warning' %>
</div>