<%= form_for @user, :html => {:class => 'form-horizontal'} do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  

    <div class="form-group">
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :username %><br />
      <%= form.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :surname %>
      <%= form.text_field :surname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :birthday %>
      <%= form.date_select :birthday, {:start_year => Time.now.year, :end_year => Time.now.year - 120}, autofocus: true, autocomplete: "birthday" %>
    </div>

    <div class="form-group">
      <%= form.label :price_advantage_id %>
      <%= form.select(:price_advantage_id, @price_advantage_array, {}, {class: 'form-control'}) %>
    </div>
  
    <div class="form-group ml-auto text-right" style="margin-right: 1.5em">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
<% end %>
