<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item">
        <%= link_to 'User management', '/user_management' %>
    </li>
    <li class="breadcrumb-item">Edit user</li>
</ul>
<h1>Edit user</h1>

<%= render 'form' %> 

<div class="ml-auto mr-4 text-right">
    <%= link_to 'Back', '/user_management', :class => 'btn btn-xs btn-warning' %>
</div>