<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="breadcrumb-item">User management</li>
</ul>
<h1>User management</h1>

<table class="table table-striped">
  <thead>
    <th>E-mail</th>
    <th>Username</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Edit', "/user_management/edit/#{user.id}", :class => 'btn btn-xs btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
